# cache file
__pycache__/
.ipynb_checkpoints/
unity-environment.log

# requirements
python/

# unity environment
data/multi_agent/
data/single_agent/

# temp model checkpoints
data/tmp/
data/model

# zip files
*.zip
zip/
